/*
	This Sass file is for styles that apply to the HTML in general.
*/

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
a{
	text-decoration: none;
	color: #fff;
}
a:hover{
	text-decoration: underline;
}
body{
	font-family: 'Alegreya Sans', Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
}
.link-expander{
	position:absolute; 
	width:100%;
	height:100%;
	top:0;
	left: 0;

	/* edit: added z-index */
	z-index: 1;

	/* edit: fixes overlap error in IE7/8, 
	 make sure you have an empty gif */
	background-image: url('empty.gif');
}

/* EXTRAS */

.arrow-right {
	z-index: 10px;
	position: relative;
	top: -6em;
	margin-top: -30px;
	width: 0; 
	height: 0; 
	border-top: 30px solid transparent;
	border-bottom: 30px solid transparent;
	border-left: 30px solid $outer-gradient-colour;
}
.arrow-left {
	z-index: 10px;
	position: relative;
	top: -6em;
	margin-top: -30px;
	width: 0; 
	height: 0; 
	border-top: 30px solid transparent;
	border-bottom: 30px solid transparent;
	border-right: 30px solid $outer-gradient-colour;
	float: right;
}
