body{
	position: absolute;
	width: 100%;
	top:0px;
}

/*===============================
	Header & Nav -- Structure
===============================*/

div.inner-header{
	display: block;
	width: 100%;	
	height: 14em;
}
div.header-box{
	position: relative;
	width: 100%;
	min-height: 14em;
	overflow: visible;
}
div.header-box{
	.logo-home, .logo-home img{
		width: 12em;
		margin-top: 2px;
		margin-left: 10px;
	}
	a.logo-link{
		display: inline-block; 
		position: relative;
	}
	a.logo-link:after{
		content: ""; 
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left:0;
	}
}
.utility-bar-desktop{
	display: none;
}
.branding-burger-container{
	height: 3em;
}
.header-logo{
	display: block;
	width: 4em;
	height: 2.4em;
	margin: 0.3em 0 0 0.3em;
	float: left;
}
.nav-icon{
	height: 2.0em;
	width: 2.3em;
	margin: -2.8em 0.8em 0 0;
	float: right;
}
.nav-container-phone{
	display: none;
	position: absolute;	
	width: 100%;
	overflow: scroll;
	z-index: 100;
	nav{
		width: 50%;
		float: left;
		position: relative;
		display: block;
		li{
			padding-top: 0.7em;
			padding-bottom: 0.7em;
			padding-left: 1em;
			display: block;
			a:after{
				margin-left: 0.4em;
			}	
		}
	}
}
nav div.main-nav-desktop{
	display: none;
}
.header-topics{
	display: none;
}
.header-avatars{
	display: none;
}

/* Desktop-styles for the header */

@media only screen and (min-width: 680px) { //responsive for bigger-than-smartphone screens

header div.header-box{
	min-height: 530px;
	overflow: hidden;
	position: relative;
}
div.inner-header{
		height: 0;
		width: 0;
		display: inline;
}
.utility-bar-desktop{
	position: relative;
	display: block;
	width: 100%;
	height: 30px;
	margin-bottom: 5px;
	
	div{
		width: $frame-width;
		min-width: $frame-min-width; 
		max-width: $frame-max-width;
		@include align-center();

		ul{
			float: right;
			position: relative;
			display: block;
			padding-top: 5px;
			padding-bottom: 5px;
			margin-bottom: 7px;
	
			li{
				display: -moz-inline-stack;
				display: inline-block;
				zoom: 1;
				*display: inline;
				margin-left: 1.5em;
			}		
		}
	}
}


.branding-burger-container{
	position: relative;
	height: 4.1em;
}
.inner-branding-burger-container{
	width: $frame-width;
	height: 4.1em;
	min-width: $frame-min-width; 
	max-width: $frame-max-width; 	
	@include align-center();
	
	img.logo-home{
		margin-top: 5px;
		margin-left: 0px;
		width: 15em;
		position: absolute;	
	}
	.logo-link{
		display: block;
		width: 15em;
		height: 3.8em;
	}
}
nav div.main-nav li{
	display: inline-block;
	float: right;
}

nav div.main-nav-desktop{
	position:relative;
	display: block;
	width: $frame-width;
	min-width: $frame-min-width; 
	max-width: $frame-max-width;
	height: 20px;

	ul{
		margin-top: -2.7em;
		float: right;

	
		li{
			display: inline;
			display: inline-block;
			float: left;
			margin-left: 1em;
		}
	}
}
.nav-icon{
	display: none;
}
.nav-container-phone{
	display: none;
}

}

/* End of header */

/*==============================
	Main Column -- Structure
==============================*/

.page-box{
	width: 100%;
	min-height: 50em;
	overflow: hidden;
    position: relative;
}
.inner-page-box{
	height: 100%;
	position: absolute;
}
.tile{
	position: relative;
	width: 100%;
	height: 12em;
	margin-bottom: 0.3em;
	overflow: hidden;
}
.tiles-box{
	width: 100%;
}
.tile .half-tile{
	position: relative;
	width: 50%;
	background-color: rgba(203, 88, 42, 1);
	height: 100%;
	float: left;
	overflow: hidden;

}
.tile .half-tile h4{
	margin-left: 5px;
	margin-right: 5px;
}
.tile .tile-text{
	@include vertical-align;
}
.tile-regular .half-tile:first-child, .tile-reversed .half-tile+.half-tile{
	position: relative;
	width: 46%;
	height: 96%;
	padding: 2%;
}
.tile img.picto{
	width: 30%;
}
.tile-offer{
	height: 90%;
	width: 90%;
	padding: 5% 5% 5% 5%;
	h4{
		margin-bottom: 5px;
	}
	a{
		display: block;	
		width: 100%;
	}

}
.half-tile-bg{
	height: 100%;
	width: 100%;
}

/* Desktop-styles for the main column on home */

@media only screen and (min-width: 680px) { //responsive for bigger-than-smartphone screens

.main-content{
	position: relative;
	width: $frame-width;
	min-width: $frame-min-width; 
	max-width: $frame-max-width; 
	margin-top: -100px;
	overflow: hidden;
	@include align-center();

}
.main-column{
	position: relative;
	width: 75%;
	margin-right: 0.5%;
	float: left;
}
.tile{
	float: left;
	width: 49.75%;
}
.tile:nth-child(odd){
	margin-right: 0.5%;
}
.tile-offer{
	height: 11em;
	width: 45.75%;
	padding: 0.5em 2% 0.5em 2%;
	
}
}

/* End of main column (home) */


/*=============================
	Right Column-- Structure
=============================*/

.right-column{
	display: none;
	width: 100%;
	margin-bottom: 0.3em;	
	
	.visitenkarte{
		margin-top: 15px;
		margin-bottom: 15px;
	}
	.visitenkarte+p{
		margin-left: 10px;
		margin-right: 10px;
		margin-bottom: 20px;
	}
}

/* Desktop-styles for the right column */

@media only screen and (min-width: 680px) { //responsive for bigger-than-smartphone screens

.right-column{
	display: block;
	float: left;
	position: relative;
	width: 24.5%;
	padding-top: 10px;
	
	.visitenkarte{
		padding-top: 20px;
		padding-bottom: 20px;
		padding-left: 10px;
		padding-right: 10px;
		
		img{
			float: left;
			margin-right: 20px;
		}	
	}
}
}

/* End of right column */


/*========================
	Footer -- Structure
========================*/

footer{
	margin-top: 60px;
}
.upper-footer{
	clear: both;
	padding: 5%;
	
	.upper-footer-column{
		margin-top: 1em;
	}
	.upper-footer-column:first-child{
		margin-top: 0em;
	}
}
.lower-footer{
	width: 100%;
	@include align-center();
	padding-top: 1.5em;
	padding-bottom: 2em;
	
	li{
		display: inline-block;
		margin-right: 1.5em;
	}
}

ul.lower-utility{ 
	margin-top: 1em;
}

/* Desktop-styles for the footer */

@media only screen and (min-width: 680px) { //responsive for bigger-than-smartphone screens
	
footer{	
	.upper-footer{
		padding-top: 15px;
	
	
		.upper-footer-inner{
			height: 8em;
			width: $frame-width;
			min-width: $frame-min-width; 
			max-width: $frame-max-width; 
			margin-top: 15px;
			margin-left: $frame-margin;
			margin-right: $frame-margin;
			@include align-center();
		}
	.upper-footer-column{
			float: left;
			margin-right: 3%;
			margin-top: 0;
		}
		.upper-footer-column-1{
			width: 20%;
		}
		.upper-footer-column-2{
			width: 22%;
		}
		.upper-footer-column-3{
			width: 15%;
		}
		.upper-footer-column-4{
			width: 27%;
		}
		
		img.logo-home{
			margin-top: 5px;
			width: 98%;
		}
	}
}
}

/* End of footer */

