// By @steffireiner and @maxmaier

* {margin: 0; padding: 0;} // Klappt allein mit normalize nicht.

@import 'normalize';
@import 'variables';

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

a{
	text-decoration: none;
}

body{
	position: absolute;
	top:0px;
	width: 100%;
	font-family: 'Alegreya Sans', sans-serif;
	background-color: #f8f3ea;
}
div.header-box{
	position: relative;
	width: 100%;
	min-height: 10em;
	background-color: red;
	background: url('../img/header_bg_2.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	color: white;
	overflow: visible;

	a{
		color: #fff;
		text-decoration: none;
	}
	
	.logo-home, .logo-home img{
		width: 12em;
		margin-top: 2px;
		margin-left: 10px;
	}
	.logo-home{
		color: green;
	}
	a.logo-link{
		position: relative;
		display: inline-block; 
	}
	a.logo-link:after{
		content: ""; 
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left:0;
	}
}

.utility-bar-desktop{
	display: none;
}

.branding-burger-container{
	height: 3em;
	background-color: rgba(203, 88, 42, 1);
	@include box-shadow(0px 2px 5px 0px rgba(50, 50, 50, 0.75));	
}

.header-logo{
	height: 2.4em;
	width: 4em;
	margin: 0.3em 0 0 0.3em;
	display: block;
	float: left;
	background-color: red;
}

nav div.main-nav-desktop{
	display: none;
}

.nav-icon{
	height: 2.4em;
	width: 2.4em;
	margin: 0.3em 0.3em 0 0;
	background-color: red;
	float: right;
	cursor: pointer;
}

.nav-container-phone{
	width: 100%;
	padding-bottom: 1.5em;
	background-color: rgba(180, 75, 32, 1);
	overflow: hidden;
	z-index: 10;
	display: none;
}

.nav-container-phone{
	nav{
		width: 44%;
		margin-left: 6%;
		float: left;
		position: relative;
		display: block;
		
		i{
			margin-top: 0.7em;
			list-style: none;
			font-size: 1.3em;
			line-height: 100%;
		}
	}
}

.header-topics{
	display: none;
}
header-avatars{
	display: none;
}

.main-content{
	//background-color: #fdedd9;
	
	h4{
		font-size: 20px;
		font-weight: normal;
		font-style: italic;
	}
}
.main-column{
	h4{
		text-align: center;
	}
}
.tile{
	position: relative;
	width: 100%;
	height: 10em;
	margin-bottom: 0.3em;
	overflow: hidden;
	color: white;
	font-size: 14px;
	@include box-shadow(0px 2px 5px 0px rgba(50, 50, 50, 0.75));
}

.tiles-box{
	width: 100%;
}
.tile .half-tile{
	position: relative;
	width: 50%;
	background-color: rgba(203, 88, 42, 1);
	height: 100%;
	float: left;
}
.tile .half-tile h4{
	//display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
}

.tile-regular .half-tile:first-child, .tile-reversed .half-tile+.half-tile{
	position: relative;
	width: 46%;
	height: 96%;
	position: relative;
	text-align: center;
	padding: 2%;	
	@include bg-gradient-orange();
}
.tile-regular .half-tile+.half-tile, .tile-reversed .half-tile:first-child{
	background: url('../img/coach.jpg') no-repeat;
	background-size: cover;
}

.tile-training .half-tile+.half-tile {
	background-image: url('../img/training.jpg');
}
.tile object{
	width: 30%;
}
.tile-resilienz .half-tile+.half-tile {
	background-image: url('../img/resilienz.jpg');
}

.tile-museum .half-tile+.half-tile {
	background-image: url('../img/museum.jpg');
}

.tile-cooking .half-tile:first-child {
	background-image: url('../img/cooking.jpg');
}
.tile-coaching .half-tile:first-child {
	background-image: url('../img/coaching.jpg');
}

.tile-humor .half-tile:first-child {
	background-image: url('../img/humor.jpg');
}
.tile-politik .half-tile:first-child {
	background-image: url('../img/politik.jpg');
}
.tile-offer{
	height: 90%;
	width: 90%;
	padding: 5% 5% 5% 5%;
	color: #2c2718;
	@include bg-gradient-offer();
	
	h4{
		margin-bottom: 5px;
	}
	a{
		display: block;	
		width: 100%;
		text-align: center;
		color: #2c2718;
	}

}
.right-column{
	width: 100%;
	margin-bottom: 0.3em;
	color: white;
	
	@include box-shadow(0px 2px 5px 0px rgba(50, 50, 50, 0.75));
	@include bg-gradient-orange();
	
	h3{
		text-align: center;
		font-size: 23px;
		font-style: italic;
		font-weight: normal;
	}
	
	a{
		color: #fff;
	}
	
	.visitenkarte{
		margin-top: 15px;
		margin-bottom: 15px;

		p:nth-of-type(2){
			font-size: 80%	
		}	
		a{
			line-height: 70px;	
		}
	}
	.visitenkarte+p{
		font-size: 90%;
		margin-left: 10px;
		margin-right: 10px;
		margin-bottom: 20px;
	}
}

footer{
	margin-top: 60px;
	color: #fff;
}

.upper-footer-column{
	//float: left;
}
.upper-footer{
	clear: both;
	@include bg-gradient-footer();
}


.lower-footer{
	width: 100%;
	@include align-center();
	text-align: center;
	padding-top: 1.5em;
	padding-bottom: 2em;
	//background-color: #3a3a3a;
	@include bg-gradient-footer();
	
	li{
		display: inline-block;
		margin-right: 1.5em;
		line-height: 150%;
	}
	
	li:hover{
		text-decoration: underline;
	}
}

ul.lower-utility{ 
	margin-top: 1em;
}

/* EXTRAS */

.arrow-right {
	position: relative;
	top: 5em;
	margin-top: -30px;
	width: 0; 
	height: 0; 
	border-top: 30px solid transparent;
	border-bottom: 30px solid transparent;
	border-left: 30px solid $outer-gradient-colour;
}
.arrow-left {
	position: relative;
	top: 5em;
	margin-top: -30px;
	width: 0; 
	height: 0; 
	border-top: 30px solid transparent;
	border-bottom: 30px solid transparent;
	border-right: 30px solid $outer-gradient-colour;
	float: right;
}

// !Responsive desktop
@media only screen and (min-width: 680px) { //responsive for bigger-than-smartphone screens

header div.header-box{
	min-height: 530px;
	overflow: hidden;
}

.utility-bar-desktop{
	position: relative;
	display: block;
	background-color: rgba(51, 51, 51, 0.8);
	width: 100%;
	height: 30px;
	margin-bottom: 5px;
	
	div{
		width: $frame-width;
		min-width: $frame-min-width; 
		max-width: $frame-max-width;
		@include align-center();

		ul{
			float: right;
			position: relative;
			display: block;
			padding-top: 5px;
			padding-bottom: 5px;
			margin-bottom: 7px;
	
		
			li{
				display:-moz-inline-stack;
				display:inline-block;
				zoom:1;
				*display:inline;
				font-size: 0.9em;
				//float: right;
				margin-left: 1.5em;
			}		
		}
	}
}

.branding-burger-container{
	position: relative;
	background-color: rgba(203, 88, 42, 0.7);
	height: 4em;
}

.inner-branding-burger-container{
	width: $frame-width;
	min-width: $frame-min-width; 
	max-width: $frame-max-width; 	
	@include align-center();
	
	.logo-home, .logo-home img{
		margin-top: 5px;
		margin-left: 0px;
		width: 15em;
		position: absolute;	
	}
	.logo-link{
		display: block;
		width: 15em;
		height: 3.8em;
	}
}

nav div.main-nav li{
	display: inline-block;
	float: right;
}



nav div.main-nav-desktop{
	font-style: italic;
	display: block;
	width: $frame-width;
	min-width: $frame-min-width; 
	max-width: $frame-max-width;
	float: right;

	ul{
		margin-top: -2.7em;
	
		li{
			font-size: 1.1em;
			display: inline;
			display: inline-block;
			float: right;
			margin-left: 1em;
		}
	}
}

.nav-icon{
	display: none;
}

.nav-container-phone{
	display: none;
}

/*
	Header Interaction
*/
.header-interactions{
	width: $frame-width;
	min-width: $frame-min-width; 
	max-width: $frame-max-width;
	height: 330px;			
	@include align-center();
	overflow: hidden;
	
	.header-topics{
		display: block;
		//position: relative;
		max-width: $frame-max-width; 	
		height: 50px;
		float: left;
		margin-top: 150px;
		z-index: 10;
		position: relative;
		
		.header-topic {
		
			float: left;
			margin-right: 4px;
			z-index: 100;
				
		
			h3{
				display: block;
				width: 160px;
				height: 48px;
				padding-top: 8px; 
				text-align: center;	
				color: #fff;
				font-size: 30px;
				font-style: italic;
				font-weight: normal;
				background-color: red;
				cursor: pointer;
				@include bg-gradient-orange();	
			}
			
			.header-topics-details{
				width: 160px;
				height: 100px;
				padding-bottom: 20px;
				background-color: rgba(255,255,255,1);
				
				ul{
					margin-left: 40px;
					padding-top: 10px;				
					color: #000;
					list-style-image: url('../img/tick.png');
				}
				
				a.header-topic-button{
					display: block;
					color: #fff;
					width: 70px;
					margin-top: 8px;
					padding: 7px 10px 7px 10px;
					text-align: center;
					@include bg-gradient-orange();
					@include align-center();
					@include box-shadow(0px 2px 5px 0px rgba(50, 50, 50, 0.75));
	
				}
			}
		}
	}
	
	.header-avatars{
		display: block;
		width: 100%;
		height: 544px;
		right: 100px;
		top: -240px;
		right: 0px;
		overflow: hidden;
		position: relative;
		z-index: 0;
		
		div{
			float: right;
		
			.header-avatar{
				height: 450px;	
				width: 350px;
				float: left;
				margin-left: -200px;
				background-repeat: no-repeat;
			}
			.ha-training{
				margin-left: 0px;
				background-image: url('../img/ha_training.png');
			}
			.ha-training-1{
				background-position: 0px -450px;
			}
			.ha-training-2{
				background-position: 0px 0px;		
			}
			.ha-cooking{
				background-image: url('../img/ha_cooking.png');
			}
			.ha-cooking-1{
				background-position: 0px -450px;
			}
			.ha-cooking-2{
				background-position: 0px 0px;		
			}
			.ha-coaching{
				background-image: url('../img/ha_coaching.png');	
			}
			.ha-coaching-1{
				background-position: 0px -450px;
			
			}
			.ha-coaching-2{
				background-position: 0px 0px;		
			}
		}
	}
}
/*
	Main content
*/

header div.header-box{
	position: relative;
}

.main-content{
	position: relative;
	width: $frame-width;
	min-width: $frame-min-width; 
	max-width: $frame-max-width; 
	margin-top: -100px;
	overflow: hidden;
	@include align-center();

}
.main-column{
	position: relative;
	width: 75%;
	margin-right: 0.5%;
	float: left;
}

.right-column{
	float: left;
	position: relative;
	width: 24.5%;
	padding-top: 10px;
	
	h3{
		
	}
	.visitenkarte{
		padding-top: 20px;
		padding-bottom: 20px;
		padding-left: 10px;
		padding-right: 10px;
		background-color: #89603b;
		
		img{
			float: left;
			margin-right: 20px;
		}
	
	}
}
.tile{
	float: left;
	width: 49.75%;
}
.tile:nth-child(odd){
	margin-right: 0.5%;
}
.tile-regular .half-tile+.half-tile, .tile-reversed .half-tile:first-child{
	background-size: 130%;
	background-position:center;

	transition: background-size 4s ease;
	-moz-transition: background-size 4s ease;
	-ms-transition: background-size 4s ease;
	-o-transition: background-size 4s ease;
	-webkit-transition: background-size 4s ease;
}
.tile-regular:hover .half-tile+.half-tile, .tile-reversed:hover .half-tile:first-child{
	background-size: 140%;
}
.tile-offer{
	height: 9em;
	width: 45.75%;
	padding: 0.5em 2% 0.5em 2%;
	
}
footer{
	line-height: 150%;
	
	a{
		color: #fff;
	}
	
	address{
		font-style: normal;
	}

	.upper-footer{
		padding-top: 15px;
	
	}
	.upper-footer-inner{
		height: 8em;
		width: $frame-width;
		min-width: $frame-min-width; 
		max-width: $frame-max-width; 
		margin-top: 15px;
		margin-left: $frame-margin;
		margin-right: $frame-margin;
		@include align-center();

	}
	.upper-footer-column{
		float: left;
		margin-right: 3%;
	}
	.upper-footer-column-1{
		width: 20%;
	}
	.upper-footer-column-2{
		width: 22%;
	}
	.upper-footer-column-3{
		width: 15%;
	}
	.upper-footer-column-4{
		width: 27%;
	}
	
	object.logo-home, object.logo-home img{
		margin-top: 5px;
		width: 98%;
	}

}
}