/*
	This Sass file is for visuals aspects.
*/

body{
	background-color: #f8f3ea;
}

/*===============================
	Header & Nav -- Visuals
===============================*/

div.inner-header{
	background-image: url("../img/header_ava_mobile.png");
	background-repeat: no-repeat;
	background-size-y: 5em;
	background-position: right top;
}
body.page-body div.inner-header{
	background: none;
}
div.header-box{
	background: url('../img/header_bg_4.png');
	//background: url('../img/brick_alt2.jpg');
	background-size: cover;

	color: white;
}
body.page-body header div.header-box{
	background-color: #000;
	background-image: url('../img/header-museum.png');
	background-position: center center;
	background-repeat: no-repeat;	
	background-size: cover;
}
.branding-burger-container{
	background-color: rgba(203, 88, 42, 1);
	@include box-shadow(0px 2px 5px 0px rgba(50, 50, 50, 0.75));	
}
.nav-icon{
	background: url('../img/nav.svg'), no-repeat ;
	background-size: 2.3em 2.3em;
	cursor: pointer;
}
.nav-container-phone{
	background-color: rgba(180, 75, 32, 1);
	nav{
		li{
			list-style: none;
			font-size: 1.4em;
			line-height: 100%;
			a:after{
				content: ">";
			}	
		}
	}
	nav.utility-bar li:nth-child(even){
		background-color: rgba(255,255,255,0.1);
	}	
	nav.main-nav ul li:nth-child(odd){
		background-color: rgba(255,255,255,0.1);
	}
}

@media only screen and (min-width: 680px) { //responsive for bigger-than-smartphone screens

div.inner-header{
		background-image: none;
		background-repeat: no-repeat;
		background-size-y: 5em;
		background-position: right top;
	}
.utility-bar-desktop{
	background-color: rgba(51, 51, 51, 0.8);
	
	div	ul li{
		font-size: 0.9em;
	}		
	
}
.branding-burger-container{
	background-color: rgba(203, 88, 42, 0.7);
}
nav div.main-nav li a:hover{
	text-decoration: underline;
}
nav div.main-nav-desktop{
	font-weight: 400;
	font-style: italic;
	width: 100%;
	ul li{
			font-size: 1.1em;
	}
}
}

/*===============================
	Main colums -- Visuals
===============================*/

.main-content{	
	h4{
		font-size: 20px;
		line-height: 100%;
		font-weight: 400;
		font-style: italic;
	}
}
.main-column{
	h4{
		text-align: center;
	}
	a{
		font-size: 1.2em;
		font-style: italic;
		line-height: 150%;
	}
	.tile:hover a{
		text-decoration: underline;
	}
}
.page-box{
	background-color: #fcf7f0;
	@include box-shadow(0px 2px 5px 0px rgba(50, 50, 50, 0.75));
	-webkit-box-shadow: inset 0px 0px 50px 16px rgba(0,0,0,0.34);
	-moz-box-shadow: inset 0px 0px 50px 16px rgba(0,0,0,0.34);
	box-shadow: inset 0px 0px 50px 16px rgba(0,0,0,0.34);
	
	h2, p.fazit{
		color: $prime-colour;
		font-style: italic;
	}
	h2{
		margin-top: 1em;
		margin-bottom: 1em;
	}
	h2:first-child{
		margin-top: 0px;
	}
	p{
		margin-top: 0.7em;
	}
	h3+p{
		margin-top: 1em;
	}
	ul{
		list-style: none;
	
		li{
			margin-top: 0.7em;
			list-style-position: inside;
		}
		li:before{
			content: "";
			display: block;
			width: 14px;
			height: 13px;
			background-image: url('../img/costum_bullet.png');
			float: left;
			margin-top: 5px;
			margin-right: 5px;
		}
	}
	
	.img-float-right{
		float: right;
		margin-left: 1em;
		margin-bottom: 1em;
	}
}
.inner-page-box{
	
}
.tile{
	color: white;
	font-size: 14px;
	@include box-shadow(0px 2px 5px 0px rgba(50, 50, 50, 0.75));
}
.tile .half-tile{
	background-color: rgba(203, 88, 42, 1);
}
.tile-regular .half-tile:first-child, .tile-reversed .half-tile+.half-tile{
	text-align: center;
	@include bg-gradient-orange();
}
html.no-cssgradients .tile-regular .half-tile:first-child, .tile-reversed .half-tile+.half-tile{
	background-color: #e56b1f;
}
.tile-regular .half-tile+.half-tile .half-tile-bg, .tile-reversed .half-tile:first-child .half-tile-bg{
	background: url('../img/home_coach.jpg') no-repeat;
	background-size: cover;
}
.tile-training .half-tile+.half-tile .half-tile-bg{
	background-image: url('../img/home_training.jpg');
}
.tile-resilienz .half-tile+.half-tile .half-tile-bg{
	background-image: url('../img/home_resilienz.jpg');
}
.tile-museum .half-tile+.half-tile .half-tile-bg{
	background-image: url('../img/home_museum.jpg');
}
.tile-cooking .half-tile:first-child .half-tile-bg{
	background-image: url('../img/home_cooking.jpg');
}
.tile-coaching .half-tile:first-child .half-tile-bg{
	background-image: url('../img/home_coaching.jpg');
}
.tile-humor .half-tile:first-child .half-tile-bg{
	background-image: url('../img/home_humor.jpg');
}
.tile-politik .half-tile:first-child .half-tile-bg{
	background-image: url('../img/home_politik.jpg');
}
.tile-offer{
	color: #2c2718;
	@include bg-gradient-offer();
	a{
		text-align: center;
		color: #2c2718;
	}
}

@media only screen and (min-width: 680px) { //responsive for bigger-than-smartphone screens

.tile-regular .half-tile+.half-tile .half-tile-bg, .tile-reversed .half-tile:first-child .half-tile-bg{
	/*background-size: 130%;
	background-position:center;
	transition: background-size 4s ease;
	-moz-transition: background-size 4s ease;
	-ms-transition: background-size 4s ease;
	-o-transition: background-size 4s ease;
	-webkit-transition: background-size 4s ease;
	*/

	margin-left: -10px;

	webkit-transform: scale(1.0, 1.0);
    transform: scale(1.0, 1.0);

	transition:  5s ease;
	-moz-transition:  5s ease;
	-ms-transition:  5s ease;
	-o-transition:  5s ease;
	-webkit-transition:  5s ease;
	

	
}
.tile-regular:hover .half-tile+.half-tile .half-tile-bg, .tile-reversed:hover .half-tile:first-child .half-tile-bg{
	//background-size: 140%;
	/*webkit-transform: scale(1.15, 1.15);
    transform: scale(1.15, 1.15);*/
    
    margin-left: 0px;
}
}

/*===============================
	Right column -- Visuals
===============================*/

.right-column{
	color: white;
	@include box-shadow(0px 2px 5px 0px rgba(50, 50, 50, 0.75));
	@include bg-gradient-orange();
	
	a{
		text-decoration: underline;	
	}
	h3{
		display: block;
		padding-left: 5%;
		padding-right: 5%;
		text-align: center;
		font-size: 23px;
		font-weight: 400;
		font-style: italic;
		
	}	
	.visitenkarte{
		p:nth-of-type(2){
			font-size: 80%	
		}	
		a{
			line-height: 70px;
		}
	}
	.visitenkarte+p{
		font-size: 90%;
	}
}

@media only screen and (min-width: 680px) { //responsive for bigger-than-smartphone screens

.right-column{
	.visitenkarte{
		background-color: #89603b;
	
	}
}
}


/*===============================
	Footer -- Visuals
===============================*/

footer{
	color: #fff;
}
.upper-footer{
	@include bg-gradient-footer();
}
.lower-footer{
	width: 100%;
	text-align: center;
	background-color: #493f34;
	//@include bg-gradient-footer();
	
	li{
		line-height: 150%;
	}
	li:hover{
		text-decoration: underline;
	}
}

@media only screen and (min-width: 680px) { //responsive for bigger-than-smartphone screens

footer{
	line-height: 150%;

	a{
		color: #fff;
	}	
	address{
		font-style: normal;
	}
}
}

