/*
	This Sass file is for visuals aspects.
*/

body{
	background-color: #f8f3ea;
}

/*
	HEADER & NAV
*/

div.inner-header{
	background-image: url("../img/header_ava_mobile.png");
	background-repeat: no-repeat;
	background-size-y: 5em;
	background-position: right top;
}
div.header-box{
	background: url('../img/header_bg_2.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	color: white;
}
.branding-burger-container{
	height: 3em;
	background-color: rgba(203, 88, 42, 1);
	@include box-shadow(0px 2px 5px 0px rgba(50, 50, 50, 0.75));	
}
nav div.main-nav-desktop{
	display: none;
}
.nav-icon{
	background: url('../img/nav.svg'), no-repeat ;
	background-size: 2.3em 2.3em;
	cursor: pointer;
}
.nav-container-phone{
	background-color: rgba(180, 75, 32, 1);
	nav{
		li{
			list-style: none;
			font-size: 1.4em;
			line-height: 100%;
			a:after{
				content: ">";
			}	
		}
	}
	nav.utility-bar li:nth-child(even){
		background-color: rgba(255,255,255,0.1);
	}	
	nav.main-nav ul li:nth-child(odd){
		background-color: rgba(255,255,255,0.1);
	}
}

/* 
	BODY
*/

.main-content{	
	h4{
		font-size: 20px;
		line-height: 100%;
		font-weight: 400;
		font-style: italic;
	}
}
.main-column{
	h4{
		text-align: center;
	}
	a{
		font-size: 1.2em;
		font-style: italic;
		line-height: 150%;
	}
	.tile:hover a{
		text-decoration: underline;
	}
}
.tile{
	color: white;
	font-size: 14px;
	@include box-shadow(0px 2px 5px 0px rgba(50, 50, 50, 0.75));
}
.tile .half-tile{
	background-color: rgba(203, 88, 42, 1);
}
.tile-regular .half-tile:first-child, .tile-reversed .half-tile+.half-tile{
	text-align: center;
	@include bg-gradient-orange();
}
.tile-regular .half-tile+.half-tile, .tile-reversed .half-tile:first-child{
	background: url('../img/coach.jpg') no-repeat;
	background-size: cover;
}

.tile-training .half-tile+.half-tile {
	background-image: url('../img/training.jpg');
}

.tile-resilienz .half-tile+.half-tile {
	background-image: url('../img/resilienz.jpg');
}

.tile-museum .half-tile+.half-tile {
	background-image: url('../img/museum.jpg');
}

.tile-cooking .half-tile:first-child {
	background-image: url('../img/cooking.jpg');
}
.tile-coaching .half-tile:first-child {
	background-image: url('../img/coaching.jpg');
}

.tile-humor .half-tile:first-child {
	background-image: url('../img/humor.jpg');
}
.tile-politik .half-tile:first-child {
	background-image: url('../img/politik.jpg');
}
.tile-offer{
	color: #2c2718;
	@include bg-gradient-offer();
	a{
		text-align: center;
		color: #2c2718;
	}
}
.right-column{
	color: white;
	@include box-shadow(0px 2px 5px 0px rgba(50, 50, 50, 0.75));
	@include bg-gradient-orange();
	
	h3{
		text-align: center;
		font-size: 23px;
		font-weight: 400;
		font-style: italic;
		
	}	
	.visitenkarte{
		p:nth-of-type(2){
			font-size: 80%	
		}	
		a{
			line-height: 70px;	
		}
	}
	.visitenkarte+p{
		font-size: 90%;
	}
}
footer{
	color: #fff;
}
.upper-footer{
	@include bg-gradient-footer();
}
.lower-footer{
	width: 100%;
	text-align: center;
	@include bg-gradient-footer();
	
	li{
		line-height: 150%;
	}
	li:hover{
		text-decoration: underline;
	}
}

@media only screen and (min-width: 680px) { //responsive for bigger-than-smartphone screens
